<div class="container">
  <div class="title-bar">
    <h1 class="article-title">{{ selectedBrand }}</h1>
  </div>

  <div class="filter-menu">
    <select (change)="filterItems($event)">
      <option value="all">All</option>
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="boy">Boy</option>
      <option value="girl">Girl</option>
    </select>
  </div>

  <div class="tabs">
    <button *ngFor="let brand of brands" (click)="selectBrand(brand)">
      <img [src]="brand.logo" [alt]="brand.name" class="brand-logo"/>
      {{ brand.name }}
    </button>
  </div>

  <div class="product-container">
    <ul>
      <li *ngFor="let item of filteredItems">
        <a routerLink="/items/{{item.id}}">
          <div class="image-container">
            <img [src]="item.imageUrl" [alt]="item.name"/>
            <span class="favorite" (click)="toggleFavorite(item)">
              {{item.favorite ? '❤️' : '♡'}}
            </span>
          </div>
          <div class="content">
            <div class="header">
              <span class="name">{{item.name}}</span>
            </div>
            <div class="details">
              <div class="rating-container">
                <ngb-rating [(rate)]="item.stars" [max]="5" [readonly]="false" [resettable]="true"></ngb-rating>
                <div class="rating-value">Rate: {{item.stars}} ⭐</div>
              </div>
              <div class="origins">
                Origin:
                <span *ngFor="let origin of item.origins">{{origin}}</span>
              </div>
              <div class="available-time">
                <ng-container *ngIf="item.availableTime === 'indeterminate'; else shortTerm">
                  <span class="available-text">✅Available</span>
                </ng-container>
                <ng-template #shortTerm>
                  <span>🕙</span>
                  {{item.availableTime}}
                </ng-template>
              </div>
              <div class="price">
                <span>{{item.price | currency}}</span>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
